.btn {
  width: 15em;
  height: 4em;
  margin: 15px;
  color: #fff;
}

.modal-win__btns {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.modal-win__btns > .btn{
  width: 10em;
  height: 3em;
  margin: 5px;
}

.modal-win__btns > .btn:hover{
  opacity: 0.8;
}